.contenedor{
	display:inline-flex;
	flex-direction: column;
}

#azul{
	width: auto;
	height: auto;
}

h1 {
	margin:0px;
	font-size:3em;
	font-family: 'Rajdhani', sans-serif;
}

.destacados{
	font-size:2em;
	font-family: 'Rajdhani', sans-serif;
}